<div id="sidebar" class="bg-dark p-3">
    <h4 class="text-white">ShoeShop Admin</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Shoes">Shoes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Purchase Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pull Outs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
    </ul>
</div>
